@{
    ViewData["Title"] = "Home Page";
}

<h2>ASP .NET Core Web Template</h2>

<img src = "http://bestanimations.com/Sci-Fi/StarWars/yoda-sat-wars-animated-gif-3.gif"/>

<h2>Powered by: <a href = "https://www.tech.io">Tech.io</a></h2>
